<link rel="mask-icon" th:href="@{/assets/img/safari-pinned-tab.svg}" color="#5bbad5" />
<link rel="manifest" th:href="@{/assets/img/site.webmanifest}" />
<link rel="stylesheet" th:href="@{/assets/css/style.min.css}" />

<link rel="preload" th:href="@{/assets/css/all.min.css}" as="style" onload='this.onload=null; this.rel="stylesheet"' />
<noscript>
  <link rel="stylesheet" th:href="@{/assets/css/all.min.css}" />
</noscript>
<link
  rel="preload"
  th:href="@{/assets/css/animate.min.css}"
  as="style"
  onload='this.onload=null; this.rel="stylesheet"'
/>
<noscript>
  <link rel="stylesheet" th:href="@{/assets/css/animate.min.css}" />
</noscript>

<link rel="stylesheet" th:href="@{/assets/css/cookieconsent.min.css}" />
<link rel="stylesheet" th:href="@{/assets/css/animate.min.css}" />
<link rel="stylesheet" th:href="@{/assets/font-awesome-4.7.0/css/font-awesome.min.css}" />
