<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:halo="http://java.sun.com/xml/ns/javaee"
      th:replace="~{modules/layout :: html(content = ~{::content})}">
<th:block th:fragment="content">

  <div class="page single special">
    <h1 class="single-title animate__animated animate__pulse animate__faster">
      关于
      <th:block th:text="${theme.config.about.themeName}"></th:block>
    </h1>
    <div class=content id=content>
      <blockquote>
        <p th:each="desc : ${theme.config.about.top_desc}">
          <th:block th:text="${desc.desc}"></th:block>
        </p>
      </blockquote>
      <p>
        <figure>
          <img class=lazyload th:src="${theme.config.about.themeImg}"
               data-sizes=auto th:alt="${theme.config.about.themeImg}" width=3200 height=2048>
          <figcaption class=image-caption>
            <th:block th:text="${theme.config.about.imgDesc}"></th:block>
          </figcaption>
        </figure>
      </p>
      <th:block th:each="content : ${theme.config.about.content}">
        <h2>
          <th:block th:text="${content.h2_desc}"></th:block>
        </h2>
        <ul>
          <li th:each="item : ${content.items}">
            <th:block th:text="${item.desc}"></th:block>
          </li>
        </ul>
      </th:block>
    </div>
    <!-- 后续做评论组件 -->
    <div id=comments class=comment>
      <halo:comment
        group="content.halo.run"
        kind="SinglePage"
        th:attr="name=${singlePage.metadata.name}"
        colorScheme="'light'"
      />
    </div>
  </div>
  
</th:block>
</html>

<script type=text/javascript>
  window.config = {
    data: {},
  }
</script>