<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{modules/layout :: html(content = ~{::content})}">
<th:block th:fragment="content">

  <div class="page home" data-home=posts>
    <div class=home-profile>
      <div class=home-avatar>
        <a href=/archives title=所有文章>
          <img class=lazyload th:src="${theme.config.home.avatar_img}"
               data-sizes=auto th:alt="${theme.config.home.avatar_img}" th:title="${theme.config.home.avatar_img}"
               width=528
               height=560>
        </a>
      </div>
      <div class=home-subtitle>
        <div id=id-1 class=typeit>
        </div>
      </div>
      <div class=links>
        <a th:each="social : ${theme.config.home.social}"
           th:href="${social.url}"
           th:title="${social.title}" target=_blank rel="noopener noreffer me">
          <i th:if="${social.icon} != ''" th:class="${social.icon}" aria-hidden=true></i>
          <img th:if="${social.icon} == ''" th:src="${social.svg}"/>
        </a>
      </div>
    </div>

    <article class="single summary" itemscope itemtype=http://schema.org/Article th:each="post : ${posts.items}">
      <div class=featured-image-preview>
        <a th:href="${post.status.permalink}">
          <img class=lazyload th:src="@{/assets/img/loading.svg}"
               th:data-src="${post.spec.cover}"
               data-sizes=auto th:alt="${post.spec.cover}"
               th:text="${post.spec.title}">
        </a>
      </div>
      <h1 class=single-title itemprop="name headline">
        <a th:href="${post.status.permalink}" th:text="${post.spec.title}"></a>
      </h1>
      <div class=post-meta>
          <span class=post-author>
            <a href="/" title=Author target=_blank rel="noopener noreffer author"
               class=author>
              <i class="fas fa-user-circle fa-fw" aria-hidden=true>
              </i>
              <span th:text="${post.spec.owner}"></span>
            </a>
          </span>
        &nbsp;
        <span class=post-publish>
            发布于
            <time th:text="${#dates.format(post.spec.publishTime,'yyyy-MM-dd')}">
            </time>
          </span>
        &nbsp;
        <span class=post-category>
            <th:block th:if="${not #lists.isEmpty(post.categories)}">
              收录于
              <a th:href="@{${category.status.permalink}}" th:each="category : ${post.categories}">
                <i class="far fa-folder fa-fw" aria-hidden=true>
                </i>
                <th:block th:text="${category.spec.displayName}"></th:block>
              </a>
            </th:block>
          </span>
      </div>
      <div class=content>
        <p>
          <strong th:text="${post.status.excerpt}"></strong>
        </p>
      </div>
      <div class=post-footer>
        <a th:href="${post.status.permalink}">
          阅读全文
        </a>
        <div class=post-tags>
          <th:block th:if="${not #lists.isEmpty(post.tags)}">
            <i class="fas fa-tags fa-fw" aria-hidden=true>
            </i>
            &nbsp;
            <a th:href="@{${tag.status.permalink}}" th:each="tag : ${post.tags}">
              <th:block th:text="${tag.spec.displayName}"></th:block>
            </a>
          </th:block>
        </div>
      </div>
    </article>
  </div>
</th:block>
</html>
<script type="text/javascript">
  var desc = '[[${theme.config.home.web_desc}]]';
  window.config = {
    code: {
      copyTitle: "复制到剪贴板",
      maxShownLines: 50
    },
    data: {
      "id-1": desc
    },
    typeit: {
      cursorChar: "|",
      cursorSpeed: 1e3,
      data: {
        "id-1": ["id-1"]
      },
      duration: -1,
      speed: 100
    }
  }
</script>





