<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{modules/layout :: html(content = ~{::content})}">
<th:block th:fragment="content">
  <div class="page archive">
    <h2 class="single-title animate__animated animate__pulse animate__faster">
      所有标签
    </h2>
    <div class=tag-cloud-tags>
      <th:block th:each="tag : ${tags}">
        <a th:href="@{${tag.status.permalink}}">
          <th:block th:text="${tag.spec.displayName}"></th:block>
          <sup th:text="${tag.status.postCount}">
          </sup>
        </a>
      </th:block>
    </div>
  </div>
</th:block>
</html>

<script type=text/javascript>
  window.config = {
    data: {},
  }
</script>
